<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huhehai.hospital.mapper.UserMapper">
    <!-- 根据用户名查询用户信息 -->
    <select id="getUserByName" resultMap="UserResultMap">
        SELECT * FROM user WHERE name = #{name}
    </select>

    <!-- 查询所有用户信息 -->
    <select id="getAllUsers" resultMap="UserResultMap">
        SELECT * FROM user
    </select>

    <!-- 插入一条用户信息到 user 表 -->
    <insert id="addUser">
        INSERT INTO user (accountName, passWord, creatTime, phoneNumber, name, id, age, sex)
        VALUES (#{accountName}, #{passWord}, #{creatTime}, #{phoneNumber}, #{name}, #{id}, #{age}, #{sex})
    </insert>
    <!-- 更新用户信息 -->
    <update id="updateUser">
        UPDATE user SET accountName = #{accountName}, passWord = #{passWord}, creatTime = #{creatTime}, phoneNumber = #{phoneNumber}, name = #{name}, id = #{id}, age = #{age}, sex = #{sex} WHERE name = #{name}
    </update>
    <!-- 删除用户信息 -->
    <delete id="deleteUserByAccountName">
        DELETE FROM user WHERE accountName = #{accountName}
    </delete>
    <!-- 根据手机号注册用户-->
    <insert id="registerUserByPhone">
        INSERT INTO user (accountName, passWord, creatTime, phoneNumber, name, id, age, sex)
        VALUES (#{accountName}, #{passWord}, #{creatTime}, #{phoneNumber}, #{name}, #{id}, #{age}, #{sex})
    </insert>

    <!-- 通过账号名获取用户密码-->
    <select id="getPasswordByAccountName" resultType="string">
        SELECT passWord FROM user WHERE accountName = #{name}
    </select>

    <!-- 能通过账号名和密码查询到账号则账号名和密码正确-->
    <select id="getUserByAccountNameAndPassword" resultType="User">
        SELECT * FROM user WHERE accountName = #{accountName} AND passWord = #{passWord}
    </select>

    <!-- 能通过手机号和密码查询到账号则手机号和密码正确-->
    <select id="getUserByPhoneNumberAndPassword" resultType="User">
        SELECT * FROM user WHERE phoneNumber = #{phoneNumber} AND passWord = #{passWord}
    </select>

    <!-- 重置用户密码 -->
    <update id="resetPassword">
        UPDATE user SET passWord = #{newPassword} WHERE phoneNumber = #{phoneNumber}
    </update>


    <!-- 结果映射，将 user 表字段与 User 实体类属性对应 -->
    <resultMap id="UserResultMap" type="org.huhehai.hospital.entity.User">
        <id property="name" column="name" />
        <result property="accountName" column="accountName" />
        <result property="passWord" column="passWord" />
        <result property="creatTime" column="creatTime" />
        <result property="phoneNumber" column="phoneNumber" />
        <result property="id" column="id" />
        <result property="age" column="age" />
        <result property="sex" column="sex" />
    </resultMap>
</mapper>